header{
    background-color: $color-principal;
    .navbar{
        a{
            color:white;
            margin:0 10px;
            &:hover{
                color:black;
            }
        }
    }
}