.section{
    padding: 40px;
    h2{
        color: $color-principal;
    }
}

.formulario-contacto {

    background-color: white;
    padding: 30px;
    border-radius: 10px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);

    .form-control {

        &:focus {
            border-color: $color-principal;

            box-shadow: 0 0 5px $color-principal;
        }
    }

    .btn {

        background-color: $color-principal;
        border: none;
        transition: 0.3s;

        &:hover {
            background-color: black;
        }
    }
}

.imagen-nosotros {

    transition: transform 0.5s;

    &:hover {
        transform: scale(1.03);
    }
}

.info-card {

    @include card-style;
    @extend %card-base;

   
    padding: 30px;

    transition: transform 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

    h3 {
        color: $color-principal;
    }
      
}

.sucursal-card {

    @include card-style;
    @extend %card-base;
    
    
    overflow: hidden;
    
    transition: transform 0.3s;

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        transform: translateY(-10px);
    }

    h2 {
        color: $color-principal;
    }
    
}

%card-base {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.catalogo-productos {
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5rem;
        color: $color-principal;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .catalogo-texto {
        font-family:'Poppins', sans-serif ;
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 30px;
    }
}  

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: $color-principal;
        margin-bottom: 25px;
        border-bottom: 2px solid $color-principal;
        padding-bottom: 10px;
    }

.producto-card {

    border: none;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
    }

    img {
        height: 350px;
        object-fit: cover;
    }
}

.historia-nosotros {
    max-width: 900px;
    margin: 0 auto 50px;
    text-align: center;

    h1 {
        font-family: 'Playfair Display', serif;
        color: $color-principal;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #333;
    }
}